@import '../theme/colors';
@import '../utility/functions';

* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.8rem, 2vw, .9rem);
    height: 100vh;
    background-color: #fff;
}

ul, li {
    padding: 0;
}

a {
    color: #222;
    text-decoration: none;
    
    &:hover {
        color: color(primary, 100);
    }
}