@import "../../assets/partials/theme/fonts";
@import "../../assets/partials/theme/colors";
@import "../../assets/partials/theme/media";
@import "../../assets/partials/utility/functions";
@import "../../assets/partials/utility/utilies";

.nav {
    &__container {
        @extend .cc, .sb-ac;
        height: 60px;
        gap: 2em;

        @include desktop {
            padding: 0 2em;
        }
    }

    &__logo {
        color: color(primary, 100);
        font-weight: 700;
    }

    &__links {
        display: inline-flex;
        align-items: center;
        gap: 2em;

        @include small {
            margin-left: auto;
            & li:not(:last-child) {
                display: none;
            }
        }
    }

    &__link {
        color: color(accents, 200);
        font-weight: 400;

        &--button {
            background-color: color(primary, 100);
            display: block;
            padding: 0.6em 1em;
            border-radius: 5px;
            color: color(accents, 400);
            position: relative;
            z-index: 0;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                top: -20px;
                right: -20px;
                background-color: color(primary, 200);
                height: 60px;
                width: 60px;
                z-index: -1;
                border-radius: 50%;
                transition: transform 0.25s ease-in-out;
            }

            &:hover {
                color: color(accents, 400);

                &::after {
                    transform: scale(4.5);
                }
            }
        }
    }

    &__menu {
        display: none;
        font-size: 2em;
        color: color(accents, 100);

        @include small {
            display: inline-flex;
            align-items: center;
        }
    }
}
