.cc {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}   

.cc-s {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}   

.sb-ac {
    display: flex;
    justify-content: space-between;
    align-items: center;
}